.countdown-card {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #333;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.progress-container {
    position: relative;
    display: inline-block;
}

mat-progress-spinner {
    width: 120px !important;
    height: 120px !important;
}

.countdown-number {
    position: absolute;
    top: 41%;
    left: 41%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    font-weight: bold;
}

.countdown-text {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ddd;
}

.countdown-text a {
    font-weight: bold;
    color: #ff6600;
    text-decoration: underline;
}

.countdown-text a:hover {
    color: #cc5200;
    text-decoration: none;
    border-bottom: 2px solid #cc5200;
}